<h2>About me</h2>
<div id="about_image_div">
  <img src="/assets/Photo_of_me.png", id='about_image'>
</div>
<div id="about_text">
  <p>
    I'm originally from Reading, PA and currently
    live in Atlanta.
    For questions or comments please contact me at dan [dot] koslow [at] gmail [dot] com.
    You can also find me on <a href="https://www.twitter.com/dankoslow/">Twitter</a>, <a href="https://www.linkedin.com/in/dkoslow">Linkedin</a>, and
    <a href="https://github.com/dkoslow">Github</a>.
  </p>
</div>