<div class="row">
  <div class="span8">
    <h1>About</h1>
    <div id="header_image_div">
      <img src="/assets/Photo-of-me.png", id='header_image'>
    </div>
    <div id="about_text">
      <p>
        I'm originally from Reading, PA and currently
        live in Atlanta.
      </p>
      <p>
        For questions or comments please contact me at dan [dot] koslow [at] gmail [dot] com.
      </p>
    </div>
  </div>
  <div class="span3">
    <div id="about_sidebar">
      <div id="sidebar_header">Find Me:</div>
      <div id="twitter-button">
        <a href="https://twitter.com/dankoslow" class="twitter-follow-button" data-show-count="false">Follow @dankoslow</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </div>
      <div id="personal_links">
        <a href="https://www.twitter.com/dankoslow/">Twitter</a></br>
        <a href="https://www.linkedin.com/in/dkoslow">Linkedin</a>
        </br>
        <a href="https://github.com/dkoslow">Github</a></br>
        <a href="#">Tumblr</a>
      </div>
    </div>
  </div>
</div>