<div class="main">
  <% if @posts.any? %>
    <div class="posts">
      <%= render @posts %>
    </div>
    <div id="pagination-wrapper">
      <div id="previous">
        <% if @posts.previous_page %>
          <%= link_to "« Previous", params.merge(page: @posts.previous_page) %>
        <% end %>
      </div>
      <div id="next">
        <% if @posts.next_page %>
          <%= link_to "Next »", params.merge(page: @posts.next_page) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="about" class="well">
  <%= render partial: "about" %>
</div>
      
