<div class="row">
  <div class="span12">
    <%= render 'header' %>
  </div>
</div>
<div class="row">
  <div class="span2">
  </div>
  <div class="span8">
    <div id="main">
      <% if @posts.any? %>
        <div class="posts">
          <%= render @posts %>
        </div>
        <div id="pagination-wrapper">
          <%= will_paginate @posts, page_links: false, container: false %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span2">
  </div>
</div>

