<div id="main">
  <% if @posts.any? %>
    <div class="posts">
      <%= render @posts %>
    </div>
    <div id="pagination-wrapper">
      <%= will_paginate @posts, page_links: false, container: false %>
    </div>
  <% end %>
</div>
      
