<% @posts_by_month.each do |month, posts| %>
  <div id="month"><%= month %></div>
  <ul>
    <% posts.each do |posts| %>
    <li>
      <span><%= posts.created_at.strftime("%d %B %Y") %></span>
      »
      <%= link_to posts.title, posts %>
    </li>
    <% end %>
  </ul>
<% end %>