<div id="post_wrapper" class="row">
  <div id="post_meta" class="span2">
    <%= post.created_at.strftime("%d %B %Y") %>
  </div>
  <div id="title_and_content" class="span6">
    <div id="title"><%= link_to post.title, post%>
    </div>
    <div id="content">
      <% if (params[:action] != "index") %>
        <%= raw(post.content) %>
      <% end %> 
    </div>
  </div>
</div>
