<div id="post_wrapper">
  <div id="post_meta">
    <%= post.created_at.strftime("%d %B %Y") %>
  </div>
  <div id="title_and_content">
    <div id="title"><%= link_to post.title, post%>
    </div>
    <div id="content">
      <% if (params[:action] == "home") %>
        <%= raw(post.content) %>
      <% else %>
        <% nil %>
      <% end %> 
    </div>
  </div>
</div>
