<div id="post_wrapper">
  <div id="title_and_content">
    <div id="title"><%= link_to post.title, post%>
    </div>
    <div id="content">
      <%= raw(post.content) %>
    </div>
    <div id="post_meta">
      <i class="icon-time"></i>
      Posted: <%= post.created_at.strftime("%d %B %Y") %>
      »
      <%= link_to "", post_path(post,
                anchor: "disqus_thread")%>
    </div>
  </div>
</div>
