<tbody>
  <tr>
    <td id="date">
      <span id="created_at">
        <% if (params[:action] == "home") %>
          </br><%= post.created_at.strftime("%d %B %Y") %>
        <% else %>
          <% nil %>
        <% end %>
      </span>
    </td>
    <td id="title_and_content">
      <% if (params[:action] == "index") %>
        <%= post.created_at.strftime("%d %B %Y") %></br>
      <% else %>
        <% nil %>
      <% end %>
      <span id="title"><%= link_to post.title, post,
        {style: 'color: #0500cc'} %></span></br></br>
      <span id="content">
        <% if (params[:action] == "home") %>
          <%= raw(post.content) %>
        <% else %>
          <% nil %>
        <% end %>
      </span>
    </td>
  </tr>
</tbody>