<tbody>
  <tr>
    <td id="date">
      <span id="created_at">
        </br><%= post.created_at.strftime("%d %B %Y") %>
      </span>
    </td>
    <td id="title_and_content">
      <span id="title"><%= post.title %></span></br></br>
      <span id="content"><%= post.content %></span>
    </td>
  </tr>
</tbody>