<h1>Archive</h1>
<div class="row">
  <div class="span8">
    <% if @posts.any? %>
      <div class="archive">
        <%= render @posts %>
      </div>
      <div id="pagination-wrapper">
        <%= will_paginate @posts,
            page_links: false, container: false %>
      </div>
    <% end %>
  </div>
</div>